@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;
}

.body-wrapper {
 width: 60%;
 margin: 0 auto;
 margin-top: 20px;
}

.page-title {
 padding-top: 60px;
 margin-left: 10%;
 font-size: 30px;
 /* text-align: center; */
 color: rgb(0, 0, 0);
 text-decoration: underline;
}

h1 {
 text-align: center;
 padding-top: 40px;
 box-sizing: border-box;
}

h3 {
 margin-left: 10%;
 font-size: 24px;
 font-weight: bolder;
} 
h3 a {
    color:black
}

.intro-banner {
 margin: 10px 0 50px;
}

.intro-banner img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.text-content {
 width: 80%;
 margin: 10px auto 22px;
 word-wrap: break-word;
 font-size: 18px;
 text-align: justify;
 word-spacing: 2px;
 letter-spacing: 1px;
}

.text-content a {
    color: black;
}

.text-content2 {
 width: 80%;
 margin: 10px auto 22px;
 word-wrap: break-word;
 font-size: 18px;
 text-align: justify;
 word-spacing: 2px;
 letter-spacing: 1px;
}

.content-card {
 /* width: 80%; */
 margin: 0 auto;
}

.content-card h2 {
 display: block;
 box-sizing: border-box;
 margin-left: 10%;
 font-size: 36px;
}

iframe {
    margin-left: 10%;
    height: 300px;
    width: 80%;
}

.sub-h2 {
 font-size: 28px !important;
 margin-bottom: 20px;
}

.text-content ul {
color: black;
 padding: 2% 10%;
}

.text-content ul li {
 margin-bottom: 10px;
}

.text-content ul li a {
    color: black;
}

.text-content2 ul {
 padding: 2% 10%;
}

.text-content2 ul li {
 margin-bottom: 15px;
}

.social-footer {
    margin-left: 44%;
}
.social-footer p{
    text-align: justify;
    font-size: 13px;
    /* position: relative; right: 35px; */
}

.social-footer ul {
    display: flex;
}

.social-footer ul li {
    list-style: none;
}

.social-footer ul li a {
    width: 30px;
    height: 30px;
    padding: 6px;
    text-decoration: none;
    transition: .5s;
}

.social-footer ul li a:hover {
    text-decoration: none;
}

.social-footer ul li a .fab {
    font-size: 21px;
    color: #262626;
    transition: .5s;
}

.social-footer ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.social-footer ul li:nth-child(2) a:hover .fab {
    color: #0e76a8;
}

.social-footer ul li:nth-child(3) a:hover .fab {
    color: #8a3ab9;
}

.social-footer ul li:nth-child(4) a:hover .fab {
    color: #c4302b;
}

@media only screen and (max-width: 1200px) {
 .body-wrapper {
  width: 80%;
 }
}

@media only screen and(max-width:800px) {
 .body-wrapper {
  width: 90%;
 }
}

@media only screen and (max-width: 500px) {
 .body-wrapper {
  width: 100%;
 }
}


